langchain
python-dotenv
langchain_community
langchain_groq
langchain_huggingface
sentence_transformers
langchain_chroma
bs4
langchain_text_splitters
lxml
chromadb
streamlit
langserve[all]
groq
duckdb
pandas
pypdf
faiss-cpu
duckduckgo-search
pymupdf
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
arxiv
wikipedia
gradio